@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-9" id="socialStuffMini">
        <h5>Like what you see? Does your business have a project and need some help? Contact me via any of the below channels!</h5>
        <ul>
            <li><a href="https://www.facebook.com/ameliowright"><h5>Facebook</h5><i class="fa fa-facebook-square fa-align-center fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ameliowright"><h5>LinkedIn</h5><i class="fa fa-linkedin-square fa-align-center fa-2x"></i></a></li>
            <li><a href="https://stackoverflow.com/users/2250329/amelio-wright"><h5>StackOverflow</h5><i class="fa fa-stack-overflow fa-align-center fa-2x"></i></a></li>
            <li><a href="https://github.com/figglewot/"><h5>Github</h5><i class="fa fa-github-square fa-align-center fa-2x"></i></a></li>
            <li><a href="mailto:wright.amelio@outlook.com"><h5>Email: wright.amelio@outlook.com</h5><i class="fa fa-envelope fa-align-center fa-2x"></i></a></li>
        </ul>
    </div>
</div>