<div class="row">
    <div class="navbar-fixed-bottom">
        <div id="returnToTop">
            <a id="lnkBackToTop" href="javascript:" title="Return to Top">Back To Top <i class="fa fa-arrow-up"></i></a>
        </div>
    </div>
</div>