
@{
    ViewBag.Title = "Developer Biases are Toxic";
}

<div class="col-md-12" id="blogSectionMini">
    <article>
        <h3>@ViewBag.Title</h3>
        <h5>Sep 25 2015</h5>
        <p>
            For some time, there has been a segregation of sorts around the different types of programming languages. The biggest known division in the community is that of
            the battle between Java and .NET. It is a true shame that when a .NET developer enters into a legimiate conversation with a Java developer to exchange ideas and converse
            and is frowned at and shunned off. Is being a developer that uses Microsoft tools and technologies that much of a poison to the community such a problem? If so, why? I
            seriously invite the reader to explain this. Individuals on various Q&A sites such as StackOverflow seem happy to reach out past their Stack to answer questions and
            participate in conversation. However, when faced in the real world, the indifference towards one another is real.
        </p>
        <b>The Biases Go Both Ways</b>
        <p>
            Before getting too far into it, I would like to say Microsoft devs vs Java/Java-"esque" devs both have their petty indifferences towards each other. I am not saying that
            it is a one sided battle and calling out the Non-Microsoft developers as being jerks. I'm also not saying that everyone does this, but I have noticed it enough in different
            places to decide to write this blog entry about it.
        </p>
        <b>This Hurts the Development Community</b>
        <p>
            You may be reading this and say, I develop in X language and why should I care what someone who develops in Y language thinks? The answer is you should, and if you disagree,
            well, you should reconsider. Here are some reasons why:
        </p>
        <b>We All Have Something to Offer</b>
        <p>
            Every developer in the community has something to offer. And I have a pretty good example of that. Recently, I attended a conference where I could safely count the number
            of .NET developers in attendance with my hands. I overheard a gentleman talking about an issue he was having wishing he could include something in his Java codebase to
            fail builds if inputs were not properly sanitized to prevent SQLi/XSS. Putting the entire concept of Entity Framework we have available to us in .NET aside,
            I bravely interjected and introducted the concept of code contracts. He paused, looked at me, and asked, Code Contracts? I went on to explain what code contracts
            were and if Java had an implementation or library for code contracts, then he could easily write compiler level sanitization rules to fail builds if those criteria were not met.
            Said individual was thrilled and respect level increased substaintially. I feel there are many instances where Java and .NET developers alike could share ideas, concepts, and solutions that we could cross
            implement if we overcome these differences.
        </p>
        <b>Going Beyond Your Stack is Good</b>
        <p>
            This section keys off my last bit. You learn and see how other stacks achieve things. There is absolutely nothing wrong with knowing more than one way to do something, especially
            if you are able to find a concept that will save you time and money and will achieve your task in a cleaner and more efficient way. You also learn a lot more and are able
            to reach out to a much wider audience. Going outside your Stack is in the same lines as being a well diversified and cultured individual. There is an endless amount of value
            in going outside your bounds and learning more than one way.
        </p>
        <p>
            Recently, Microsoft has announced its goals to move towards an open source platform. Already, you can get <a href="https://code.visualstudio.com/">Microsoft Code</a>, a light-weight
            .NET IDE that works cross platform to develop .NET code free of charge. This will light the beacon towards a great future for .NET developers. In time, I hope that this
            will strengthen the relationships that we as developers have together and open new doors to success for us all. This is very exciting, and going outisde of our Stacks can help
            us to bring features and functionalities from one Stack to another.
        </p>
    </article>
    @*<i class="fa fa-angle-double-left fa-1x" id="returnButton">@Html.ActionLink("Go Back", "Index", "Home")</i>*@
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'awrightblog';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

