
@{
    ViewBag.Title = "Why Mentorship is a Win-Win Scenario";
}

<div class="col-md-12" id="blogSectionMini">
    <article>
        <h3>@ViewBag.Title</h3>
        <h5>Sep 20 2015</h5>
        <p>A mentorship is one of the most valuable things an individual could ever hope to find in a constantly morphing environment where best practices and industry standards
        are not yet fluent in your domain knowledge.</p>
        <p>Take the case of Software Development. The thing I love most about being in this field is that there is no right or wrong way to achieve a task, and there 
        are countless WAYS of achieving that task. But there are more better and less bad ways, which are drawn out more or less by the best practices and industry standards
        put together by a community of really smart people.</p>
        <p>Where the difficulty lies however, is in learning and applying those standards. If a person is fresh out of school and entering into a junior position, or if a person
        is a non-traditional engineer learning to be awesome in their spare time, those standards may not be known or obvious. A good mentor can help you overcome these
        difficulties.</p>
        <p>Mentorship does not just apply to learning the best practices and industry standards. A good mentor can also provide you with a push in the right direction as far
        as learning tracks are concerned, review your work, and answer questions as well as provide rationales to help you understand why x equals what it does.</p>
        <p>Being a mentor is not for everyone, but being a mentor is also a reward in it's own. You might ask, why?</p>
        <p>As a mentor, you need to work harder on top of your already busy job to help someone who may be far less skilled than you out. Here are some things to keep in mind. 
        You will be answering a lot of foundational level questions and doing so in a way that a person with basic understandings of things can understand, this reinforces 
        your knowledge base and allows you to look at things from another perspective. You will be performing detailed reviews on their work and explaining how they could 
        have done things differently and why doing it differently is better, which gives you the opportunity to rethink why you do things in your way and look at what a fresh
        mind is thinking and why they are thinking that way, good or not. A sense of accomplishment. When your mentoree does something epic and starts to understand on the levels
        that you are explaining to them, it is a sense of accomplishment, and, subjectively, a general awesome feeling.</p>
        <p>As a mentoree, this is awesome. I think personality type really determines the sort of mentoree you are. Being a mentoree does not mean that you are free
        from responsibilities, because you are not. Being a mentoree does not mean you are letting someone else give you the answer or do your work for you. As a mentoree,
        you should get only the necessary instruction to fit your learning type and struggle to learn and apply what your mentor has given you, and ask questions appropriate 
        to the problem that you are having. For some, a reference book and online tutorials are not enough. If this is the case, a good mentoree will still have these resources available to them,
        but they will use them as supplemental learning material to what their mentor has to offer them. If this is not the case, a good mentoree will use these resources
        and apply knowledge learned from there and check concepts and understandings and perform reviews with their mentor.</p>
        <p>Utilized properly and mutually, a good mentorship can bolster both parties careers and yield dividends. Most Software Organizations today love mentor programs and encourage it.
        They might also offer incentives for individuals to offer themselves up as mentors and advise new employees to seek mentorship opportunities.</p>
        <p>Author's Note:</p>
        <p>Over the past few months, I have been aggressively learning new and awesome skills to move my career forward to places I had in the past thought 
        unreachable and impossible. I owe a great deal of this credit to a fine gentleman and mentor, Mr. Spike Higgins. It is because of his guidance and inspiration that I have been
        able to so quickly work to transition from what I thought was acceptable to realize what I find passionate and enjoyable and that I am actually pretty good at.
        While I still have a long way to go, a great mentor has provided me with a strong foundation and kickstarted that process. Even if he thinks he didn't do much xD</p>
    </article>
    @*<i class="fa fa-angle-double-left fa-1x" id="returnButton">@Html.ActionLink("Go Back", "Index", "Home")</i>*@

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'awrightblog';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

